swagger: '2.0'
info:
  version: '1.0.0'
  title: 'Vimzy Video API'
  description: 'API for creating and checking the status of videos'
host: 'api.vimzy.art'
basePath: '/video'
schemes:
  - 'https'
paths:
  /new/:
    post:
      summary: 'Create a new video'
      description: 'This endpoint allows you to create a new video based on the provided details.'
      parameters:
        - in: 'header'
          name: 'X-Berserker-Token'
          type: 'string'
          required: true
          description: 'Authentication token required for this endpoint.'
        - in: 'body'
          name: 'body'
          required: true
          schema:
            type: 'object'
            properties:
              text:
                type: 'string'
                example: 'how to leash a dog'
              text_string:
                type: 'string'
                example: ''
              is_free:
                type: 'boolean'
                example: true
              templateId:
                type: 'string'
                example: '65ec050f7ad203d9bf5500e4'
              mood:
                type: 'string'
                example: 'a guide about leashing a dog'
      responses:
        '200':
          description: 'Video created successfully.'
        '400':
          description: 'Invalid request.'
  /status/:
    post:
      summary: 'Get video status'
      description: 'This endpoint allows you to get the status of a video by its ID.'
      parameters:
        - in: 'body'
          name: 'body'
          required: true
          schema:
            type: 'object'
            properties:
              id:
                type: 'string'
                example: 'IFQ8ZR6CSGLLIFWV'
      responses:
        '200':
          description: 'Status retrieved successfully.'
        '404':
          description: 'Video not found.'
